/* CSS for desktops */

html, body {
	min-width: 1024px;
	min-height: 768px;
	width: 100%;
	height: 100%;
	background-image: url('../images/paper_1_@2X.png');
}

ul {
	list-style-type: none;
}

#bookishLogo {
	height: 135px;
}

#controlPane {
	height: 75px;
}

#searchTextField {
	width: 8em;
}

#searchForm {
	float: right;
}

#controlButtons {
	clear: both;
}

#controlButtons form {
	float: right;
}

#bookGalleryPane {
	height: 400px;
}

.contentPane {
	margin-left: 15px;
}

.contentPaneRight {
	margin-left: 15px;
}

.contentPaneLeft, .contentPane, .contentPaneRight {
	border: 1px solid black;
	margin-top: 10px;
	padding: 10px;
	background-color: white;
}

.contentPaneLeft {
	width: 450px;
}

.adminPanel {
	margin: 10px;
	padding: 5px;
	background-color: #EFE;
	border: 1px solid green;
}

#bookSummary {
	margin: 0px 10px 10px 10px;
	overflow-y: auto;
}

.galleryBook {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.galleryBook img {
	width: 100px;
	height: 150px;
	-webkit-box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, .5);
	box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, .5);
}

.selectedBook {
	border: 3px solid yellow;
}

label {
	width: 6em;
	text-align: right;
	float: left;
	margin-right: 0.5em;
}

input[type="submit"] {
	width: 5em;
}

input, textarea {
	width: 300px;
}

#bookCategoriesPane form {
	display: inline;
}

#bookCategoriesPane input {
	display:inline;
	width: 4em;
}

#bookCategoriesPane input[type="submit"] {
	min-width: 2em;
	width: 2em;
}

#bookCategoriesPane .adminPanel {
	padding: 2px;
	margin: 0;
}

#bookCategoriesPane .adminPanel {
	float:right;
}

#bookCategoriesPane .adminPanel input[type="text"] {
	width: 12em;
}

#bookCategoriesPane li {
	clear: both;
}

#bookFrame {
	width: 100%;
	min-height: 400px;
	border: 0px;
	margin: none;
	padding: 0px;
}

blockquote {
	font-style: italic;
	padding: 10px;
	background-color: #EEE;
	border: 1px solid gray;
	border-left: 10px solid gray;
}

blockquote cite {
	display: block;
	width: 100%;
	text-align: right;
}