/* CSS for desktops */

html, body {
	min-height: 600px;
	height: 100%;
	min-width: 100%;
	width: 100%;
	overflow: hidden;
	background-image: url('../images/paper_1_@2X.png');
}

#bookishLogo {
	min-height: 115px;
	height: 15%;
}

#controlPane {
	min-height: 75px;
	height: 5%;
}

#searchBar, #controlButtons {
	float: right;
}

.contentPaneLeft {
	height: 78%;
	
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.contentPane {
	height: 95%;
	margin-left: 15px;
	
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.contentPaneRight {
	margin-left: 15px;
	height: 85%;
	
	-webkit-border-top-left-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.contentPaneLeft, .contentPane, .contentPaneRight {
	border: 1px solid black;
	margin-top: 10px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: white;
	
	-webkit-box-shadow:  5px 5px 5px 5px rgba(0, 0, 0, .5);
	box-shadow:  5px 5px 5px 5px rgba(0, 0, 0, .5);
}

#bookSummary {
	margin: 10px;
	margin-right: 0px;
	height: 90%;
	overflow-y: auto;
}

.galleryBook {
	float:left;
	border: 1px solid black;
	margin-left: 10px;
	margin-top: 10px;
	
	-webkit-box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, .5);
	box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, .5);
}

.galleryBook img {
	width: 100px;
	height: 150px;
}

.selectedBook {
	border: 3px solid yellow;
}