/* CSS for desktops */

ul {
	list-style-type: none;
}

#controlPane {
	height: 4.75em;
}

#controlButtons {
	clear: both;
}

#controlButtons form {
	float: right;
}

#bookGalleryPane {
	height: 25em;
}

#bookGalleryPane form {
	margin: 0em;
}

.contentPaneLeft, .contentPane, .contentPaneRight {
	border: 1px solid black;
	margin-top: .625em;
	padding: .625em;
}

.adminPanel {
	padding: .625em;
	margin-top: .625em;
	background-color: #EFE;
	border: 1px solid green;
}

.adminControl {
	padding: .625em;
	margin-top: .625em;
	background-color: #EFE;
	border: 1px solid green;
}

#bookSummary {
	margin: 0px .625em .625em .625em;
	overflow-y: auto;
}

.galleryBook {
	float: left;
	margin-left: .625em;
	margin-top: .625em;
}

.galleryBook img {
	height: 9.375em;
	-webkit-box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, .5);
	box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, .5);
}

.selectedBook {
	border: 0.1875em solid yellow;
}

label {
	clear: both;
	width: 6em; /* TODO: Make Responsive */
	text-align: right;
	float: left;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

input[type="text"], input[type="password"], .mceEditor, select {
	float:left;
	margin-bottom: 0.5em;
}

.contentPane input[type="submit"] {
	clear: both;
	display: block;
}

.fieldError {
	float:left;
	margin-left: 1.25em;
	padding: .1875em;
	color: red;
	background-color: pink;
	border: 1px solid red;
}

#userCategoriesPane form, #bookCategoriesPane form {
	display: inline;
}

#bookCategoriesPane input {
	display: inline;
}

#bookCategoriesPane input[type="submit"] {
	min-width: 2em;
}

#bookCategoriesPane .adminPanel {
	padding: .125em;
	margin: 0em;
}

#bookCategoriesPane .adminPanel {
	float: right;
}

#bookCategoriesPane li {
	clear: both;
}

#bookFrame {
	border: 0em;
	margin: none;
	padding: 0em;
}

blockquote {
	font-style: italic;
	padding: .625em;
	background-color: #EEE;
	border: 1px solid gray;
	border-left: .625em solid gray;
}

blockquote cite {
	display: block;
	width: 100%;
	text-align: right;
}

/* Make TinyMCE More Responsive: http://www.tinymce.com/develop/bugtracker_view.php?id=5719 */
.mceEditor table {
	max-width: none; /* Bug in computation of fullscreen */
}

.mceEditor table.mceLayout {
	width: 100% !important;
	height: auto !important;
}

table.mceToolbar { float:left; }
body .mceToolbar div {
	white-space:normal;
}
/* End Make TinyMCE Responsive */