<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/data/neo4j
		http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<import resource="bookish-security.xml"/>
	
	<context:annotation-config/>
	<context:component-scan base-package="com.toastedbits.bookish">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<context:spring-configured/>
	
	<context:property-placeholder location="classpath:bookish.properties"/>
	
	<!-- Simple embedded only neo4j access -->
	<neo4j:config storeDirectory="${graphdb.location}"/>
	
	<!-- Start: Embedded + Server neo4j access -->
	<neo4j:repositories base-package="com.toastedbits.bookish.repositories"/>
	
	<!--
	<bean id="graphDatabaseService" class="org.neo4j.kernel.EmbeddedGraphDatabase" destroy-method="shutdown">
		<constructor-arg index="0" value="${graphdb.location}" />
		<constructor-arg index="1">
			<map><entry key="enable_remote_shell" value="true"/></map>
		</constructor-arg>
	</bean>
	
	<bean id="serverWrapper" class="org.neo4j.server.WrappingNeoServerBootstrapper" init-method="start" destroy-method="stop">
		<constructor-arg ref="graphDatabaseService"/>
	</bean>
	-->
	
	<neo4j:config graphDatabaseService="graphDatabaseService"/>
	<!-- End: Embedded + Server -->

	<!--<tx:annotation-driven mode="aspectj" transaction-manager="neo4jTransactionManager"/>-->
	<tx:annotation-driven mode="proxy"/>
	
	<bean id="dbInit" class="com.toastedbits.bookish.launch.InitDB" init-method="start" lazy-init="false">
	</bean>
</beans>